[2022-01-12 08:11] pacospace opened #1 "Import existing notebook images input into ODH [Admin]"
As Operator/Admin,

I have existing images I want to import in ODH. The system must enable users to bring in/import notebook images via the UI (eg. users should not have to edit config files such as YAML files). After import, the images should be available for selection in the UI like out-of-the-box images.

Note: by default, imported images would be available for all cluster users.

Related-To: h

[2022-01-12 08:22] pacospace opened #2 "Create new notebook image from scratch to be spawned from JH UI [Data Scientist]"
As Data Scientist,

I want to create a new notebook image from scratch by defining the packages/libraries/components needed.

Related-To: https://issues.redhat.com/browse/RHODS-2211 req 2

[2022-01-12 08:23] pacospace commented on #2
Questions
1. What does it mean from scratch? There are minimal requirements for notebook images into ODH (e.g. s2i minimal base)
2. what are packages/libraries/components?

[2022-01-12 08:37] pacospace opened #3 "Customize existing notebook image and save it."
As Data Scientist/User,

I must be able to start with an existing base notebook image, make changes by adding/removing/updating components and save the resulting image. The resulting image should be available for selection like other notebook images.

[2022-01-12 08:37] pacospace commented on #3
Questions:
1. what are components?

[2022-01-12 08:43] pacospace opened #4 "System can check dependencies and avoid dependency issues when customizing notebook or notebook image"
As DS/User,

I want to have a system with some capability to check dependencies and verify any dependency issues as they are defining the components in a notebook or a new custom image. [OPTIONAL TOOL]

Notes:

- User adds a TensorFlow version and needs to identify dependencies (specific packages and versions needed)
- User adds a TensorFlow version and adds an incompatible version of a dependency

[2022-01-12 08:47] pacospace commented on #4
The check requires a dependency resolver (e.g. Thoth)

[2022-01-12 08:50] pacospace opened #5 "Export created images for backup"
As Operator/Admin,

I must be able to export custom images & store them on a local system for backup purposes

Related-To: https://issues.redhat.com/browse/RHODS-2211 req 7

[2022-01-12 08:51] pacospace commented on #5
Questions:
1. Are images stored in internal registry?
2. Who can export images with confidential data if all images are available to any cluster user.

[2022-01-12 08:52] pacospace opened #6 "Add/remove components from an environment from curated list directly from UI"
As DS/User,

I must be able to add & remove components/packages to/from an environment from a curated library directly via the UI.

Related-To: https://issues.redhat.com/browse/RHODS-2211 req 6

[2022-01-12 08:53] pacospace commented on #6
Questions:
1. is the UI, the jupyterlab UI or JH UI?
2. what are components/packages?
3. by environment means one jupyter kernel?

[2022-01-12 10:00] pacospace commented on #1
Questions:
1. Are the images supposed to be spawnable from JH?

[2022-01-12 15:55] pacospace commented on #1
- [ ] have a validation step in the pipeline with specific case for admin.

[2022-01-13 14:37] pacospace opened #7 "Import existing notebook from a URL [Data Scientist]"
As a Data Scientist,

I want to upload my (newly found on the internet) Jupyter Notebook to a web service hosted on my ODH deployment.

I want to address the notebook via a URL, so that this service turns it into a notebook ready to use,  and so that I don’t have to install any more modules,  and so that each cell of the notebook is runnable.

Related-To: https://issues.redhat.com/browse/RHODS-221

[2022-01-14 10:43] tumido commented on #1
Questions:
1. To bring in/import notebook images means what exactly on the input? URL to an image registry? Do we need to also handle credentials to private registries?
2. Where is the user (admin) expected to enter this input into? JupyterHub Spawner UI? Meteor Shower? This also impacts where the UI feedback is reported..

[2022-01-14 11:06] pacospace commented on #2
pre-requisite:

- [ ] Identify inputs (Python version, packages, modules/components (R, Elyra, etc..))

steps:
- [ ] build a container image JH ODH compatible (s2i-minimal content) using selected inputs
- [ ] imagestream is created and notebook image can be selected by the spawner.

[2022-01-14 11:10] pacospace commented on #3
Notebook image is already available in the spawner (Python version is already selected).
Now I install new packages for my notebook and I want to track/save all these changes as a new image that can be spawned and has all the requirements satisfied for my notebook already.

-[ ] Trigger rebuild with the new requirements.

[2022-01-14 11:13] pacospace opened #10 "Users must be able to make custom images private (only accessible by the user) or public (accessible to all cluster users)."
Related-To: https://issues.redhat.com/browse/RHODS-2211 req 4

[2022-01-14 11:24] pacospace commented on #4
- [ ] Consider connected environment

[2022-01-14 11:27] pacospace commented on #5
Not necessarily through a UI, but using an existing capability is also accepted.

[2022-01-14 11:30] pacospace commented on #6
Have a curated list of modules, a subset of PyPI, or specific indexes that the user/customer can reach.

[2022-01-17 07:19] pacospace opened #11 "BYON Pipelines can be installed via Helm charts [Admin]"
As Platform Operator,

I want to install a tool via Helm charts that allow builds of images that can be used for ML projects in ODH.

Reference: https://github.com/thoth-station/helm-charts

[2022-01-17 07:23] pacospace opened #12 "BYON pipelines installation can be configured based on requirements [Admin]"
As Platform Operator,

I want to have a way to configure the deployment of BYON pipelines.

[2022-01-17 07:23] pacospace commented on #12
- [ ] Identify requirements to be configured (e.g. minimum resources for builds, username/password for Registry Push)

[2022-01-17 07:25] pacospace opened #13 "BYON Pipelines can be installed as Operator from Operator Hub [Admin]"
As Platform  Operator,

I want to install BYON Pipelines from Operator Hub.

Ref: https://labs.consol.de/development/2021/05/03/helm_based_operator.html

[2022-01-17 07:32] pacospace opened #14 "Provide a Grafana Dashboard template"
As BYON User,

I want to have a Grafana dashboard template (.json) that I can use to monitor BYON pipelines.

[2022-01-17 07:32] pacospace commented on #14
- [ ] List and describe all metrics required
- [ ] Grafana Dashboard template

[2022-01-17 18:11] codificat commented on #12
Should this be included into #11 as part of the acceptance criteria? I.e. that I can provide the configuration at install time

[2022-01-18 08:17] pacospace commented on #12
#11 is the base for installing with default values using `helm`, then in this issue we extend that to have configurable values, users/admin are interested in, for the templates for example with the CLI. wdyt?

[2022-01-18 14:04] pacospace commented on #13
Depends-On: https://github.com/open-services-group/byon/issues/11

[2022-01-19 10:40] tumido commented on #1
Based on [s2i-minimal-notebook](https://github.com/thoth-station/s2i-minimal-notebook), each image should include following prerequisites:

### Python packages
Based on `requirements.in` and `Pipfile` at:
https://github.com/thoth-station/s2i-minimal-notebook/tree/master/overlays/f34-python39
https://github.com/thoth-station/s2i-minimal-notebook/tree/master/overlays/python36
https://github.com/thot

[2022-01-19 11:02] pacospace commented on #1
@tumido

jupyter-nbrequirements | Extension to JupyterLab. Requires jupyterlab.
-- | --

is a classical jupyter notebook extension actually, not jupyterlab one: https://github.com/thoth-station/jupyter-nbrequirements. It is not maintained

[2022-01-19 12:52] tumido commented on #1
Important note:

The comment above is focusing solely on the current JupyterHub architecture in RHODS and ODH. Many of those requirements are not hard requirements for Kubeflow Notebook Controller.

[2022-01-19 13:39] codificat commented on #12
I understand the idea. However, I believe some configuration is mandatory: having credentials for external registries is a pre-requisite for the pipelines to be able to push to them; similarly, a token is needed to interact with GitHub.

Or should we aim to have a self-contained deployment option that only uses cluster-internal resources and requires no configuration at all?

[2022-01-19 13:57] pacospace commented on #12
Yes agree, so let's have a list first of mandatory and then one for possible configuration requirements, wdyt?

[2022-01-19 14:11] codificat commented on #11
A few things to confirm about the scope and requirements:

- Is `helm install` the expected (only) interface? related: #13
- What configuration must be provided at install time? (related: #12)
- What are the minimum requirements that the target cluster must provide?

The underlying general topic is how "independent" should the helm chart be:
- is it expected to be installable and usable by itself,

[2022-01-19 14:40] pacospace opened #15 "Provide tutorials on the use of BYON"
**Is your feature request related to a problem? Please describe.**
Provide tutorials on the use of BYON.

**Describe the solution you'd like**

- [x] https://github.com/thoth-station/core/issues/308

**Describe alternatives you've considered**

**Additional context**

[2022-01-19 21:47] pacospace opened #16 "Edit/remove imported images directly from UI [Admin]"

[2022-01-19 21:47] pacospace commented on #1
Related-To: https://github.com/open-services-group/byon/issues/16

[2022-01-20 15:43] tumido commented on #1
Summary of 2022-01-19 WG mtg for BYON:
- We're not yet decided if we are targetting KFNBC or JpyterHub spawner as the backend
- The input happens in RHODS UI interface which a separate UI from the JupyterHub spawner, it is a intergated UI admin panel for the whole RHODS
- Validation is required since we can't be delivering image that is not spawneble (no matter what backend)
- Output ImageStream s

[2022-01-31 18:17] tumido opened #17 "Periodic polling of container images"
Investigate how to manage imagestream updates. This issue is looking for answers/analysis on:

- If an image in external registry is update, how is this change propagated to `Imagestream` in Openshift
  - Scheduled import via [`importPolicy.scheduled`](https://docs.openshift.com/container-platform/4.9/openshift_images/image-streams-manage.html#images-imagestream-import_image-streams-managing) on `

[2022-01-31 18:18] tumido commented on #17
/assign @tumido

[2022-01-31 18:21] tumido commented on #17
/label wg/byon-build-pipelines

[2022-01-31 18:21] sesheta commented on #17
@tumido: The label(s) `/label wg/byon-build-pipelines` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/a

[2022-02-02 13:33] tumido opened #18 "Define new image tag annotations"
Find agreement on new additional imagestream annotations:

| Status | Annotation key | Values | Description |
| --- | --- | --- | --- |
| Preexisting | `opendatahub.io/notebook-image-desc` | string | User facing image description |
| Proposed new | `opendatahub.io/notebook-image-message`| string encoded JSON | Validation output (errors and recommendations) |
| Preexisting | `opendatahub.io/noteboo

[2022-02-03 10:27] tumido commented on #17
/assign @mimotej

[2022-02-07 09:06] pacospace opened #19 "Deploy BYON MVP with Open Data Hub"
**Is your feature request related to a problem? Please describe.**
As BYON developer,

I want to access BYON + UI directly from Open Data Hub.

**Describe the solution you'd like**
- Have a deployment of ODH with BYON and UI to be tested.

**Describe alternatives you've considered**

**Additional context**
https://issues.redhat.com/browse/ODH-591

[2022-02-07 09:18] pacospace commented on #19
Depends-On: https://github.com/open-services-group/devsecops/issues/3

[2022-02-08 11:33] tumido opened #20 "Dev/Stage environment for ODH Jupyterhub"
**Is your feature request related to a problem? Please describe.**
I want:
- A stage environment deploying BYON on top of ODH with JupyterHub deployment
- A clean, easy and reproducible procedure how to stand up a dev environment that deploys ODH operator + JupyterHub + BYON for dev purposes

**Describe the solution you'd like**
For stage environment provide a namespace or cluster in Operate First

[2022-02-08 11:35] tumido commented on #20
My current dev environment configuration uses:

[code]

[code]

[2022-02-09 18:41] mimotej commented on #17
So far I have conducted some experiments and I have the following information:
1. `importPolicy.scheduled` on `Imagestream` causes that OCP to periodically check for changes on the image (meaning it checks if digest of an image has changed). This can be useful for automatic updates of images, but it does not generate any event, so it might be harder to detect.
2. `referencePolicy` works in the sam

[2022-02-11 11:57] schwesig opened #22 "Staff the SP Metrics Strategic, add to yaml"
Owner:
 Member/Contributor: @goern
 Member/Contributor: @Ochatter
 Member/Contributor: @suppathak
 Member/Contributor: @aakankshaduggal

[2022-02-11 12:06] tumido commented on #17
Great research! Thank you!

I think it won't be a problem. It generates event/action via additional kubernetes resources like the creation of `Image` resource and `ImageStreamTag` resource update. That should do the trick.

I think this is the behavior we want to achieve, correct? Cache the image in local registry and reuse it from there, without ever pulling from a remote for pod spawns. Good.

W

[2022-02-15 15:33] tumido commented on #17
In my test I've used an image stream with `referencePolicy.type: Local` and `importPolicy.scheduled: true`:

1. Spawn a pod in JupyterHub - it pulls the image from internal registry
2. Shut down the pod
3. Spawn a new pod in JupyterHub - it pulls the image from node cache
4. Shut down the pod
5. Updating image tag in remote container image repository - After a while it triggers a scheduled import

[2022-02-16 10:38] mimotej commented on #17
Yes, I think this configuration will give us most consistent results out of all options :+1: .

[2022-02-16 11:44] pacospace opened #23 "Define states for Pipelines and UI (e.g. validating, validated, failed)"
**Is your feature request related to a problem? Please describe.**
UI relies on Pipelines states and therefore there is a need to agree on these states.

**Describe the solution you'd like**
Have a definition of the states required by UI and Pipelines in a doc describing what is expected and accessible at each of these states.

**Describe alternatives you've considered**

**Additional context**

[2022-02-16 12:44] tumido commented on #17
Good, then the proposed design will be:

[code]

This approach has few drawbacks.
1. The image stream disappears without explanation from the user facing UI (we probably need to show it as "disabled" to lower user confusion)
2. There's a small window between validation pipeline marking the imagestream as unavailable due to running validation and the actual imagestream update potentially allowing u

[2022-02-16 13:58] codificat commented on #11
A status update: the BYON-specific pipelines are already installable and working using helm. Other pipelines in the helm chart (aicoe-ci) are currently not yet functional; but for the purpose/scope of this issue, I am wondering if this could be considered done.

@pacospace what do you think?

<details>
<summary>Example installation and run of the validation pipeline:</summary>

[code]
</details>

[2022-02-16 15:31] pacospace commented on #23
from Kyle:  https://docs.google.com/document/d/11DKHpMAvSZdxU6pl7dm3Xn4bXvwOZiG6Jolinshi_GQ/edit

[2022-02-22 16:04] tumido commented on #17
Decision. This is postponed/deprioritized due to the necessity to introduce a KNative dependency. Revisit post-MVP.

[2022-02-28 15:48] oindrillac opened #25 "Add outside collaborators to this repo and project board"
This working group extends across multiple teams and we would like to add external collaborators to this repo and project (such as ODH team members). By default this is not possible at the moment, so we propose to :-

1. Add them as members of the org
2. Put them on a `wg-byon-collaborators` team
3. Add team with write perms to project

Any inputs?

cc: @goern

[2022-02-28 17:40] durandom commented on #25
@tumido can ploigos manage external collaborators per repo?

[2022-03-01 13:30] tumido commented on #25
Nope, peribolos can't handle that. Presumption is that if you are a regular contributor, who is being assigned issues and what not = you are part of a team. External colaborators are not supported in Peribolos.

Github allows issues to be assigned to more than github org members though, citing all the options below:

1. anyone who has commented on the issue or pull request,
2. anyone with write pe

[2022-03-01 13:32] tumido commented on #25
So, if somebody external comments on an issue, we can assign them.

The other options are:
1. either make them org member via peribolos
2. or add them as external members with write permissions to the repo outside of peribolos

[2022-03-01 13:37] tumido commented on #1
This issue mostly describes the MVP as a whole, let's remove it from the task board and turn this into an epic. Carving out the notebook requirements into a separate issue.

[2022-03-01 13:38] tumido opened #26 "JupyterHub notebook requirements"
Supporting JupyterHub Spawner UI scenario and the current RHODS/ODH architecture:

Based on [s2i-minimal-notebook](https://github.com/thoth-station/s2i-minimal-notebook), each image should include following prerequisites:

### Python packages
Based on `requirements.in` and `Pipfile` at:
https://github.com/thoth-station/s2i-minimal-notebook/tree/master/overlays/f34-python39
https://github.com/thoth

[2022-03-01 13:40] tumido commented on #26
This list is not to be trusted, it's probably not complete. Can you help @lavlas ?

[2022-03-01 13:41] tumido commented on #11
@lavlas can we bring in helm charts into the ODH operator or should we rather cherry-pick the manifests for BYON into odh-manifests repo?

[2022-03-01 13:42] tumido commented on #11
/assign @lavlas

[2022-03-01 13:42] sesheta commented on #11
@tumido: GitHub didn't allow me to assign the following users: lavlas.

Note that only [open-services-group members](https://github.com/orgs/open-services-group/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/co

[2022-03-01 13:48] tumido commented on #18
@lavlas, should we move this discussion into ODH or can we decide that in here?

[2022-03-01 13:49] oindrillac opened #27 "Minimal dev setup required for contribution on UI"
As developers planning to contribute on the byon UI development efforts, we need to determine the minimal requirements, setup, and environment required to start contributing.

UI design (working document) - https://marvelapp.com/prototype/6dcfc3h/screen/85139864

[2022-03-01 13:52] tumido commented on #20
@oindrillac @harshad16 task: request a stage env for BYON from @open-services-group/wg-devsecops-leads .

[2022-03-01 13:53] tumido commented on #13
Closing, if we have a need for this in future we can reopen

[2022-03-01 13:53] #13 closed

[2022-03-01 13:55] tumido commented on #12
@pacospace @codificat is this still relevant?

[2022-03-01 13:57] tumido commented on #15
@pacospace Is this related to the Admin feature (MVP) or rather an end user documentation?

[2022-03-01 13:58] tumido commented on #16
This will be worked on as part of ODH Dashboard devel workstream.

[2022-03-01 15:41] LaVLaS commented on #26
Is py3.6 and jupyter classic still in discussion for BYON? I think python3.8 + JupyterLab should be the starting point for notebook packages. All of the `jupyterlab*` packages look good to me.  I don't have any experience with `jupyterlab-spellchecker` but I assume it is a great feature when providing documentation in a notebook

I agree with the `Omitted scenarios`.

[2022-03-01 15:52] tumido commented on #23
[code]

[2022-03-02 12:00] tumido commented on #26
@harshad16 I would welcome your input on this, I have no idea about the desired support matrix here.

[2022-03-02 12:36] harshad16 commented on #26
The minimum requirement for the image in RHODS are as follows:

Minimal notebook:
  Python 3.8
  Juyterlab 3.0.x
  supervisor stable
  jupyterhub -

  plugin:
  Jupyterlab-git stable

Python notebooks:

  Boto3 x.y.z
  Kafka-python x.y.z
  Pandas x.y.z
  Matplotlib x.y.z
  Numpy x.y.z
  Scipy x.y.z

  plugin:
   elyra-python-editor
   jupyterlab-git
   jupyterlab-s3

Tensorflow and pytorch require

[2022-03-02 12:56] oindrillac commented on #25
@open-services-group/steering did we reach any consensus on we can approach this?

[2022-03-02 13:43] LaVLaS commented on #26
The package versions of available in RHODS notebooks for the CUDA v11.4.2, PyTorch and Tensorflow v2.7.0 have been updated downstream.  We will be updating those in ODH shortly

[2022-03-02 13:44] harshad16 commented on #26
@LaVLaS we would have to update them in the thoth-station images, to get them correctly updated in ODH .
should we update and open pr to odh ?

[2022-03-02 15:14] codificat commented on #11
Given that, let's
/close
this one, thanks.

Just keep in mind that the source of the pipelines is the https://github.com/codificat/helm-charts repo

[2022-03-02 15:14] sesheta commented on #11
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/11#issuecomment-1057044081):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-03-02 15:14] #11 closed

[2022-03-03 07:17] goern commented on #25
I think the root of the issue is, that we host a project on OSG org, but at the same time understand OSG org as something 'for us', so an external contributor as an org member feels strange. Is that a correct interpretation of how we see our org?

So the midterm solution could be:
1. get org-maintenance services implemented for odh org
2. move byon repo to odh org
2.1. accept external contributors

[2022-03-03 12:47] tumido commented on #26
@harshad16 , why is `supervisor` part of the minimal requirements? is it used for anything? I haven't found it to be actually used in any way...

[2022-03-03 14:23] durandom commented on #25
Can we manually add external contributors to a repo? And would that make those accounts available in the dropdown?

I'm 👎  for adding other folks to our org

[2022-03-03 19:34] tumido commented on #26
I think no. 2 is correct. BYON is about RHODS instance admins (a customer) bringing their own container images so their users can use it. This issue is to determine the minimal set of really really required packages that needs to be present in any container image that user wants to bring in.

Using s2i-minimal-notebook is not a requirement. Using s2i at all is not a requirement. The image doesn't

[2022-03-03 19:47] tumido commented on #18
@Lavlas basically all we are introducing are the annotations in the table above with status `Proposed new`, the rest is just summary of what we know about the already existing annotations that we're trying to populate during the import.

[2022-03-04 07:20] goern commented on #25
so you are +1 on option 2. of https://github.com/open-services-group/byon/issues/25#issuecomment-1055447355

[2022-03-04 08:27] harshad16 commented on #26
@tumido , That seems like a very promising result.
Till I know the supervisor was in there to help the user to enable it via a enable env var.
https://github.com/thoth-station/s2i-minimal-notebook/blob/f8ec542abcc98208e45eb03da8b9a7c75cbe04f7/builder/run#L63
ack, on that it might be a minimum requirement.

Btw if you tested this out, please feel free to open a pr in the minimal repository and also

[2022-03-04 08:55] tumido commented on #26
Can you elaborate please? PR for what? Maintainer of what? s2i-minimal-notebook? Why? I don't understand.

We don't care for s2i-minimal-notebook here. We don't care about AICoE-CI or any thoth related things. The sole focus of this issue is to determine what to require from any image being imported through BYON, aka what content to put in https://github.com/thoth-station/helm-charts/blob/main/cha

[2022-03-04 09:04] harshad16 commented on #26
This response was that , if we have figured that there could be less stuff in the minimal-notebook,
maybe it would be great to update it, that why i suggested the pr to s2i-minimal
about being maintainer, as you are working on these bit, i was just offering to be a maintainer on s2i-minimal as well :smile:

yes, i think so too, it is not a default action.

yes that is correct.
might was a typo, wa

[2022-03-04 09:33] tumido commented on #26
Gotcha! :slightly_smiling_face:

I think we should clean up the s2i minimal then, but probably not now. Let's track and discuss that in a separate issue in s2-minimal: https://github.com/thoth-station/s2i-minimal-notebook/issues/514

[2022-03-07 03:10] LaVLaS commented on #26
I agree that `s2i-minimal` is only a recommended requirement since a user can manually recreate the JH entrypoint script

I think at a minimum, we would validate:

1. I would like to stay that ubi base images are a requirement if we want to standardized on a standard that would allow for an easy baseline for security scans
1. Is actually a valid Jupyter notebook image that is compatible with Jupyt

[2022-03-08 12:58] tumido commented on #26
@LaVLaS gotcha. How would you check for that? Is a check that `/etc/redhat-release` file exists enough?

Can you confirm the image above (https://github.com/open-services-group/byon/issues/26#issuecomment-1058413862) satisfies this for you? It starts/stops through spawner, accepts it's API key and starts JupyterLab.

What is the minimal requirement for Python version? 3+ or you want to be more spe

[2022-03-08 21:17] oindrillac commented on #27
@dlabaj can you please update this issue to point to any available developer documentation which describes the setup needed for contribution to the UI?

[2022-03-08 22:06] oindrillac opened #28 "Introduce advanced validation steps to perform security scanning"
**Is your feature request related to a problem? Please describe.**
Need to check for vulnerabilities and possible security problems in the image.

**Describe the solution you'd like**

- [ ] Introduce advanced validation steps that perform security scanning of imported images to identify vulnerabilities, and offer recommendations.

**Describe alternatives you've considered**

**Additional context*

[2022-03-09 13:55] tumido commented on #23
Let's conclude this as done. If we decide on further extension to this, we can reopen/revisit.

[2022-03-09 13:55] #23 closed

[2022-03-09 13:56] tumido commented on #18
bump @lavlas, should I open a similar issue in the ODH? Who should we pull in for this?

[2022-03-09 14:59] oindrillac commented on #27
BYON development on ODH being tracked here https://github.com/opendatahub-io/odh-dashboard/issues/121

[2022-03-09 15:24] LaVLaS commented on #18
I created a linked issue in the odh-dashboard repo to reference this issue. We can track the final list of annotations in this issue since they are produced and reference this in the Dashboard documentation

[2022-03-11 15:59] oindrillac commented on #20
Updates from WG meeting 03/09/2022:

- Cluster is now setup with OLM based ODH.
- For odh dashboard, decided to build from [ODH feature branch](https://github.com/opendatahub-io/odh-dashboard/tree/BYON) in operate first.
- WG Devsecops needs to work with BYON WG to setup environment.

@harshad16 can you please add WG members to slack chat where this discussion is taking place.

[2022-03-15 15:48] tumido commented on #20
@harshad16:

We need:
- An ODH deployment with JupyterHub and ODH dashboard components
- The ODH dashboard deployment is deployed from a custom image built from [opendatahub-io/odh-dashboard@BYON](https://github.com/opendatahub-io/odh-dashboard/tree/BYON)
- BYON pipelines
   https://github.com/open-services-group/byon/blob/f3ecef20220c26313feeef2213f99bd0beceb15c/manifests/overlays/dev/phase_01/ku

[2022-03-16 11:39] harshad16 commented on #20
@tumido thanks for sharing the information:

* we would be using the **osc-cl1** cluster. on which the ODH is deployed with help of this [odh-manifest branch](https://github.com/operate-first/odh-manifests/tree/osc-cl1-v1.1.0).
* For getting an ODH dashboard getting deployed with a custom image, please update the custom image details in [here](https://github.com/operate-first/odh-manifests/blob/e3

[2022-03-22 18:32] #26 closed

[2022-03-23 11:57] tumido opened #30 "Make pipelines queriable by ODH Dashboard API"
Kubernetes supports native filters by labels when listing resources. In order to simplify parsing the relevant imagestreams and pipelineruns in ODH dashboard backend, let's enrich the pipeline resource and generated imagestream with additional label `app.kubernetes.io/created-by: byon`

[2022-03-23 12:58] tumido opened #31 "Tests flaking under heavy CPU load"
Thanks @tumido!
Tested. All test cases work as expected, except these 2:

[code]
[code]

_Originally posted by @oindrillac in https://github.com/open-services-group/byon/pull/29#pullrequestreview-917729830_

[2022-03-23 12:58] tumido commented on #31
Huh, yeah.. in some cases it's flaking for me as well. The same image can both pass and fail validation:

[code]

I think it's related to the `timeout 30` call - when the cluster is under significant CPU load this can take longer. Which is weird. Let's extend the timeout to 60sec. I think timeout must be present in case the script is executing something else than jupyter, so we don't allow it to r

[2022-03-23 13:01] tumido opened #32 "Isolate network on "validate" step pod(s)"
Currently we blindly execute the `start-singleuser.sh` script within the imported container pod context. Since we have no way to know what's within the script and yet we need to execute it anyways we should try and limit the access for the pod. Let's limit network access to/from the pod.

https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-ingress-and-all-egr

[2022-03-23 13:45] tumido commented on #20
@dlabaj @lavlas how can we set up CI/CD builds for [odh-dashboard@BYON](https://github.com/opendatahub-io/odh-dashboard/tree/BYON) branch so we have an usable image to deploy along with BYON?

@harshad16

Why this branch and not `v1.1.2`?

We should be able to override this in `kustomization.yaml` correct?

Yes, should we install the pipelines separately via apps repo or via kfdef (it's a ODH comp

[2022-03-23 13:48] #18 closed

[2022-03-23 14:16] #31 closed

[2022-03-23 16:13] oindrillac opened #34 "Run tests to verify validation pipeline"
Run a set of tests to verify the import and validation pipeline for edge cases.

**Acceptance Criteria:**

Come up with a test images to test for edge cases.

- [ ] ODH notebooks and invalid edge case notebooks.
- [x] R and Opta planer images (@guimou)
- [x] OS Climate images (@oindrillac)

Test images can be included in https://github.com/open-services-group/byon/blob/main/Makefile

[2022-03-23 18:31] oindrillac commented on #27
Finalized REST API Design documentation documented here https://studio-ws.apicur.io/sharing/f34aaaa8-58e0-48fb-b36f-1d91ac5ebf48

[2022-03-25 11:52] harshad16 commented on #20
you are correct, at the moment of my comment there was on branch v1.1.0. the v1.1.2 is now available [here](https://github.com/operate-first/odh-manifests/tree/osc-cl1-v1.1.2).

yes we can do that :)

As this is ODH component, we want that to be installed via ODH, so it can also get added to ODH, without many changes.
however, in the previous call, it was mentioned that the openshift-pipeline is a

[2022-03-29 19:39] harshad16 commented on #20
The cluster is all setup:
**console url**: https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/opf-jupyterhub-stage/pods
**namespace**: opf-jupyterhub-stage
**jupyterhub URL**: https://jupyterhub-opf-jupyterhub-stage.apps.odh-cl1.apps.os-climate.org/hub/spawn

Also, the deployment pr is being made:
https://github.com/operate-first/odh-manifests/pull/10

once we have the odh-d

[2022-03-30 03:30] LaVLaS commented on #20
I was discussing this with @harshad16 and we will make sure there is a `byon-latest` image built from the `BYON` branch.  I have a buildConfig manifest I am working on that should allow an cluster build and deployment of a development image

however, in the previous call, it was mentioned that the openshift-pipeline is already installed in ODH, so maybe we can skip this.

I think ODH will be makin

[2022-03-31 14:16] oindrillac opened #38 "Create BYON User Documentation"
We want to create user documentation that highlights what user should expect and also provides them recommendations on best practices.

**Acceptance Criteria:**

- [ ] Add documentation on good practices/recommendations for creating custom images.
- [ ] Add documentation for minimal requirements for image that BYON expects

[2022-03-31 14:16] oindrillac commented on #38
cc: @guimou

[2022-04-05 16:47] tumido commented on #18
Updated: removed `notebook-image-visible`, added `notebook-image-creator`

[2022-04-05 16:49] tumido opened #39 "Creator annotation is missing from the imagestream/dashboard"
As per the mocks we're currently missing a value to display in the "User" column

![image](https://user-images.githubusercontent.com/7453394/161805959-b22f9813-883c-4c8f-8f18-b1074ba9d1c4.png)

https://marvelapp.com/prototype/6dcfc3h/screen/85139859

Populate this annotation as per https://github.com/open-services-group/byon/issues/18#issuecomment-1089022791 spec in the dashboard backend and pipel

[2022-04-05 16:49] tumido commented on #39
/assign @tumod

[2022-04-05 16:49] sesheta commented on #39
@tumido: GitHub didn't allow me to assign the following users: tumod.

Note that only [open-services-group members](https://github.com/orgs/open-services-group/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/com

[2022-04-05 16:50] tumido commented on #39
/kind bug

[2022-04-05 21:33] harshad16 commented on #20
Seems like dashboard has issues: https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/opf-dashboard/pods/odh-dashboard-76bdcd5f4c-xtlvl/logs

[2022-04-06 11:03] tumido commented on #20
I'm unable to access that, sorry. I'm getting

![image](https://user-images.githubusercontent.com/7453394/161960308-647d6e2a-59df-41e8-b515-090229ff6b19.png)

However comparing the manifests in https://github.com/operate-first/odh-manifests/tree/osc-cl1-byon/odh-dashboard/base against https://github.com/opendatahub-io/odh-dashboard/tree/BYON/install/odh/base I see some differences still present. M

[2022-04-06 11:24] harshad16 commented on #20
ack, will update the manifests based on the changes you suggest.

about access, you are cluster-admin: https://github.com/operate-first/apps/blob/13b504ab0c2525e9d620d33cfa9c381caa2fa9ae/cluster-scope/overlays/prod/osc/osc-cl1/groups/cluster-admins.yaml#L10
you should access for all the logs , please re-check.

[2022-04-06 12:02] tumido commented on #20
Well, it's not about permissions, it's rather auth issue... I've opened https://github.com/operate-first/support/issues/552

[2022-04-06 13:10] tumido commented on #39
Resolved via https://github.com/thoth-station/helm-charts/pull/40 https://github.com/opendatahub-io/odh-dashboard/pull/170

[2022-04-06 13:10] #39 closed

[2022-04-06 13:11] tumido opened #40 "Dashboard backend not allowing to patch name/description"
According to mocks name and description should be updateable

https://marvelapp.com/prototype/6dcfc3h/screen/85139857

![image](https://user-images.githubusercontent.com/7453394/161982368-10310e96-c97e-4a34-897a-5566e3782d09.png)

/kind bug
/assign @tumido

[2022-04-06 13:24] oindrillac commented on #40
closing. resolved by https://github.com/opendatahub-io/odh-dashboard/pull/172

[2022-04-06 13:24] #40 closed

[2022-04-06 15:22] tumido opened #41 "Add visibility toggle to packages list"
Discovered packages needs an additional field to support visibility toggle.

Proposed schema:

[code]

[2022-04-06 15:23] tumido commented on #41
Requires changes on the:
- [x] Pipelines
- [x] Dashboard Backend
- [ ] Dashboard Fronted
- [ ] Spawner UI

[2022-04-06 15:26] tumido opened #42 "Change messaging for out of scope validation"
Change the message if the first content check fails - If python is not present it is not an `error` but rather a `warning`. Skip further validation in such cases, because the image may be R or something else totally valid.

Change the Dashboard frontend/backend to support toggling the visibility on failed images when only the messages with `warning` severity are present. Disable the visibility tog

[2022-04-06 15:42] oindrillac commented on #42
@tumido Does it still make sense to check for Jupyter notebook compatibility on that image? Should it be an `error` if we cannot validate if its a valid Jupyter notebook image that is compatible with JupyterHub. Coz in that case we know it will not work.

I think we should clarify, what are the definitions that we're looking at for "Error" and "Warning". Does the following look reasonable?

- Warn

[2022-04-06 15:49] tumido commented on #42
Digging into it more, I actually think the scenario may never happen, because we always need to spawn the jupyterlab environment... and Jupyterlab has only python implementation... it seems Python has to be present **always** and our minimal requirements are correct and needs to be **always** met. @codificat @oindrillac @lavlas can you help me verify this assumption is correct?

[2022-04-06 16:58] harshad16 commented on #20
ack,
Another issue with byon deployment.
The operator is not able to resolve [kfdef](https://github.com/operate-first/apps/blob/master/kfdefs/overlays/osc/osc-cl1/jupyterhub-stage/kfdef.yaml#L32-L36) with [byon manifest ](https://github.com/operate-first/odh-manifests/blob/osc-cl1-byon/jupyterhub/byon/base/kustomization.yaml)
The error from the logs:
[code]

seems like it kfdef resolver is not abl

[2022-04-07 11:25] tumido commented on #42
So.. I've run this problem by @guimou and he confirmed me that all our minimal requirements must be met for **any** JH spawneable image. That means even the R/Julia/whatever images need to have Python and jupyterhub/jupyterlab packages and so on. That means if an image fails our checks we can be quite certain it's not spawneable. In that light, we should **never** allow users to enable images whic

[2022-04-07 12:38] tumido opened #43 "Software annotations for additional software like R, RStudio"
During discussions with Jeff about https://github.com/open-services-group/byon/issues/42 one more feature surfaced -> It would be nice to show R/RStudio version along with Python versions. Maybe other software will come later, let's start with these two and expand the list if needed.

/assign @tumido

[2022-04-07 12:40] #42 closed

[2022-04-07 15:02] oindrillac commented on #43
(Discussion from April 6, 2020 BYON WG)

It's valuable to show software included in the image along with packages.

Updates needed to UI Mockup and the changes to be made in the following places to show included software:

- [ ] Admin UI - Software Version also shown in Admin UI under Notebook Image settings along with Packages.
- [ ] Spawner UI - Show Python version under question mark in spawner

[2022-04-07 15:14] oindrillac opened #46 "Dropdown and search functionality in spawner UI"
As more byon custom notebook images get imported, the Jupyterhub Spawner UI can get quite cluttered. To reduce clutter, add a dropdown and search functionality in Spawner.

[2022-04-07 15:34] tumido commented on #43
@oindrillac I think what you mention in your comment should be a separate issue. This issue is focusing mainly on the BYON pipelines expansion to even detect R/Studio.

[2022-04-07 15:43] oindrillac opened #47 "Display Software Included in Images"
It's valuable to show software included in the image along with packages.

Updates needed to UI Mockup and the changes to be made in the following places to show included software:

- [ ] Admin UI - Software Version also shown in Admin UI under Notebook Image settings along with Packages.
- [ ] Spawner UI - Show Python version under question mark in spawner UI, along with Software included. Show d

[2022-04-08 03:16] LaVLaS commented on #20
This may be due to the kustomize version in the kfctl version but I can't remember if remote resources are supported or not

[2022-04-12 07:23] tumido commented on #20
I don't see other option than work around that - I've cherrypicked all the pipelines/task manifests into odh-manifests in operate first. https://github.com/operate-first/odh-manifests/pull/19

[2022-04-12 07:55] tumido commented on #20
In addition to that further fixes to the kfdef are needed, see https://github.com/operate-first/apps/pull/1892

@harshad16 what can I do to trigger build for ODH Dashboard for BYON?

https://github.com/opendatahub-io/odh-dashboard/tree/BYON has latest commit 4 days ago
![image](https://user-images.githubusercontent.com/7453394/162909897-ee5370c9-7cdc-43a5-9221-70f5a22bba12.png)

While quay image i

[2022-04-12 08:43] harshad16 commented on #20
I had checked with ODH team, they do manual build
we would have to contact @LaVLaS

[2022-04-12 11:46] tumido commented on #20
I've changed things around so we can use our own manual build in the oeprate-first quay for now, to speed things up.

Another show stopper appeared. OSC-CL1 doesn't have Openshift Pipelines, which is a blocker. It had Tekton deployed instead, which is not enough for us - we need to have `ClusterTask`s available, namely for openshift-client, because we're not gonna be reimplementing that, we want t

[2022-04-12 17:55] tumido commented on #43
Resolved via https://github.com/thoth-station/helm-charts/pull/43

[2022-04-12 17:55] #43 closed

[2022-04-12 17:57] tumido commented on #27
I think this is resolved now.

[2022-04-12 17:57] #27 closed

[2022-04-13 13:37] oindrillac commented on #16
I think this can be closed with the MVP (https://github.com/opendatahub-io/odh-dashboard/pull/171 & https://github.com/opendatahub-io/odh-dashboard/pull/156)

[2022-04-14 13:12] sesheta commented on #10
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 13:12] sesheta commented on #4
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 13:12] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 13:12] sesheta commented on #6
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 16:13] sesheta commented on #5
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 13:13] sesheta commented on #2
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 13:13] sesheta commented on #7
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 13:42] oindrillac commented on #38
@tumido @guimou started this [document here](https://docs.google.com/document/d/1GUlV5r0tMp8yTj5lnJ6U2NPJRtJgc9yGaY3j0PA97K0/edit?usp=sharing). Feel free to add your sections here to this doc 🙂

[2022-04-20 15:17] tumido commented on #20
So, it seems OpenShift Pipelines are fighting with CertManager or something installed on the cluster...

https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/openshift-pipelines/pods/tekton-pipelines-webhook-744fbfbf89-mg4lv/logs

[code]

/cc @harshad16

[2022-04-20 16:31] LaVLaS commented on #14
From the WG discussion, the minimum requirements would need to track all of the Dashboard UI integration points with OpenShift and pipeline health

Are these realistic for a basic BYON dashboard?
- PipelineRun with success/failures
- PipelineRun execution time
- BYON validation steps metrics for the tasks that are run against all notebooks Success/failures for image import, value JH image

[2022-04-25 19:26] harshad16 commented on #20
The issue is fixed now, the operator was jammed earlier.
please use it. :+1:

[2022-05-04 12:23] tumido commented on #20
Resolved, environment is verified to be available and working at https://odh-dashboard-opf-jupyterhub-stage.apps.odh-cl1.apps.os-climate.org/

[2022-05-04 12:23] #20 closed

[2022-05-09 12:12] goern opened #48 "[spike] BYON Pipeline-as-a-Service"
As an ODH Admin,
I want to schedule the BYON Pipeline Runs using Pipeline as a Service
so that I can control the scheduling/location of the PipelineRuns

As an ODH Admin,
I want to point my Pipeline as a Service to a specific Git Tag on a specific repository on GitHub,
so that I can control the version of BYON pipelines used.

As an OSG release-engineer,
I want to git-tag a specific commit in a re

[2022-05-14 14:34] sesheta commented on #4
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-14 14:34] sesheta commented on #10
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-14 14:34] sesheta commented on #3
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-14 14:34] sesheta commented on #6
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-18 17:35] sesheta commented on #5
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-19 14:35] sesheta commented on #2
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-19 14:35] sesheta commented on #7
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-30 15:49] sesheta commented on #1
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-30 15:49] sesheta commented on #12
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-30 15:49] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-06 13:00] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-07 01:00] sesheta commented on #28
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 15:40] sesheta commented on #10
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 15:40] sesheta commented on #4
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 15:40] sesheta commented on #6
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 15:40] sesheta commented on #3
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 15:40] sesheta commented on #3
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/3#issuecomment-1154080591):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-13 15:40] sesheta commented on #4
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/4#issuecomment-1154080572):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-13 15:40] #4 closed

[2022-06-13 15:40] #6 closed

[2022-06-13 15:40] sesheta commented on #10
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/10#issuecomment-1154080553):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-13 15:40] sesheta commented on #6
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/6#issuecomment-1154080580):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-17 18:40] sesheta commented on #5
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-17 18:40] #5 closed

[2022-06-17 18:40] sesheta commented on #5
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/5#issuecomment-1159141819):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-18 15:40] sesheta commented on #7
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-18 15:40] sesheta commented on #2
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-18 15:40] sesheta commented on #7
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/7#issuecomment-1159485634):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-18 15:40] #7 closed

[2022-06-18 15:40] sesheta commented on #2
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/2#issuecomment-1159485641):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-18 15:40] #2 closed

[2022-06-21 16:02] sesheta commented on #32
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-29 13:02] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-29 15:49] sesheta commented on #15
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-29 15:49] sesheta commented on #1
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-29 15:49] sesheta commented on #12
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-29 19:02] sesheta commented on #34
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-06 15:50] sesheta commented on #19
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-06 16:03] sesheta commented on #46
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-06 16:03] sesheta commented on #47
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-07 03:51] sesheta commented on #28
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-11 19:03] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-18 16:04] sesheta commented on #38
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-19 19:04] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-21 18:51] sesheta commented on #32
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-29 15:52] sesheta commented on #17
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-29 18:44] sesheta commented on #1
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-29 18:44] sesheta commented on #12
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-29 18:44] #1 closed

[2022-07-29 18:44] #12 closed

[2022-07-29 18:44] sesheta commented on #1
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/1#issuecomment-1199847139):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-07-29 18:44] sesheta commented on #12
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/12#issuecomment-1199847148):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-07-29 21:52] sesheta commented on #34
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-01 18:44] sesheta commented on #15
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 18:44] #15 closed

[2022-08-01 18:44] sesheta commented on #15
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/15#issuecomment-1201576270):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-02 13:45] Gkrumbach07 opened #49 "[EPIC] Run images via jupyter notebook spawner from repo commit"
**Is your feature request related to a problem? Please describe.**
As an ODH Admin, I want to be able to create new notebook images from scratch by committing a notebook file to a repository and opening an issue assigned to a bot, so that I can run the images via Jupyter Notebook Spawner.

**Describe the solution you'd like**
I want to be able to create as many PRs I want before I decide to rebuil

[2022-08-02 15:01] Gkrumbach07 opened #50 "[2pt] Trigger notebook image build with template issue"
**Is your feature request related to a problem? Please describe.**
As an ODH Admin, I want to be able to trigger a new image build by opening an issue through a template, so there is little effort on my part to trigger a build and so that the built image shows up on my Jupyter Notebook Spawner on ODH.

**Describe the solution you'd like**
I want to be able to create a Github issue using a template

[2022-08-02 16:35] Gkrumbach07 opened #51 "[8pt] Make bot respond to issues and build images"
**Is your feature request related to a problem? Please describe.**
As the bot, I want to respond to an issue I am assigned to and build the repo into a custom notebook image.

**Describe the solution you'd like**
I want the bot to automatically start building the image and hosting it.

**Acceptance Criteria**
- [ ] That issue assigned to the bot triggers a new custom notebook image build
- [ ] Bot

[2022-08-02 16:40] Gkrumbach07 opened #52 "[8pt] Integrate Thoth adviser in the the user experience of the build issues"
**Is your feature request related to a problem? Please describe.**
As an ODH Admin, I want to check if my repository’s dependencies, security issues, and compatibility are meeting my standards, so I don’t create an insecure image.

**Describe the solution you'd like**
The bot will run an advise report and comment back important information about the **score** of the advise report. If there are big

[2022-08-02 16:46] Gkrumbach07 opened #53 "[1pt] Define new ADR that “bot” is a GitHub App"
**Is your feature request related to a problem? Please describe.**
Define new ADR that “bot” is a GitHub App

**Describe the solution you'd like**
I want to create an ADR that defines what a bot is in the context of this [EPIC](https://github.com/open-services-group/byon/issues/49). We are using a Github app as a bases of the bot, which will also use probot most likely.

**Describe alternatives yo

[2022-08-02 17:29] Gkrumbach07 opened #54 "[3pt] have the bot comment location of hosted notebook"
**Is your feature request related to a problem? Please describe.**
As an ODH Admin, I want the closing of my template issue to signify that my notebook image is available on my ODH deployment via the Jupyter Notebook Spawner.

**Acceptance Criteria**

- [ ] The bot should give updates on the overall  status of the build and deployment.
- [ ] The template issue should not close until the image is a

[2022-08-05 18:45] sesheta commented on #19
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-05 18:45] #19 closed

[2022-08-05 18:45] sesheta commented on #19
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/19#issuecomment-1206751619):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-05 18:54] sesheta commented on #46
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-05 18:54] sesheta commented on #47
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-06 06:45] sesheta commented on #28
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-06 06:45] #28 closed

[2022-08-06 06:45] sesheta commented on #28
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/28#issuecomment-1207161145):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-07 16:06] sesheta commented on #48
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-10 21:55] sesheta commented on #41
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-17 18:56] sesheta commented on #38
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-18 21:56] sesheta commented on #14
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-19 08:52] goern commented on #53
I think we have concluded to pivot from a bot-driven use case, to focus on the integration with the odh-dashboard.

is that correct?

if so, can we close this issue?

/kind documentation
/priority critical-urgent

[2022-08-19 08:52] goern commented on #52
/kind feature
/triage needs-information

[2022-08-19 08:54] goern commented on #49
@Gkrumbach07 pls sync this issue with https://github.com/open-services-group/scrum/issues/27

[2022-08-20 21:47] sesheta commented on #32
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-20 21:49] sesheta commented on #32
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/32#issuecomment-1221414703):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-20 21:49] #32 closed

[2022-08-23 16:53] codificat commented on #17
going to
/lifecycle frozen
this to prevent auto-closure for the time being

[2022-08-29 00:48] sesheta commented on #34
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-29 00:48] #34 closed

[2022-08-29 00:48] sesheta commented on #34
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/34#issuecomment-1229606590):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-04 21:50] sesheta commented on #46
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-04 21:50] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-04 21:50] #47 closed, assigned to nobody

[2022-09-04 21:50] #46 closed, assigned to nobody

[2022-09-04 21:50] sesheta commented on #47
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/47#issuecomment-1236421334):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-04 21:50] sesheta commented on #46
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/46#issuecomment-1236421331):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-05 08:51] goern commented on #17
/kind feature
/priority backlog

[2022-09-06 18:58] sesheta commented on #48
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-10 00:51] sesheta commented on #41
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-10 00:51] #41 closed

[2022-09-10 00:51] sesheta commented on #41
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/41#issuecomment-1242578964):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-14 07:27] goern commented on #49
any updates on this?

[2022-09-14 08:10] goern commented on #49
/kind feature
/priority backlog
/sig user-experience

[2022-09-14 08:10] sesheta commented on #49
@goern: The label(s) `sig/user-experience` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/49#issuecomment-1246400625):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions

[2022-09-14 08:10] goern commented on #50
/kind feaure
/priority backlog

[2022-09-14 08:10] sesheta commented on #50
@goern: The label(s) `kind/feaure` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/50#issuecomment-1246400928):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-14 08:10] goern commented on #51
/kind feaure
/priority backlog

[2022-09-14 08:10] sesheta commented on #51
@goern: The label(s) `kind/feaure` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/51#issuecomment-1246400983):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-14 08:10] goern commented on #54
/kind feaure
/priority backlog

[2022-09-14 08:10] sesheta commented on #54
@goern: The label(s) `kind/feaure` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/54#issuecomment-1246401080):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-14 08:10] goern commented on #14
/kind feaure
/priority backlog

[2022-09-14 08:10] sesheta commented on #14
@goern: The label(s) `kind/feaure` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/14#issuecomment-1246401378):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-14 08:11] goern commented on #38
/kind feaure
/priority backlog

[2022-09-14 08:11] sesheta commented on #38
@goern: The label(s) `kind/feaure` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/38#issuecomment-1246402031):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-22 06:51] goern commented on #51
/close
this to focus on the ODH/RHODS focused UX (via odh-dashboard)

[2022-09-22 06:51] #51 closed, assigned to nobody

[2022-09-22 06:51] sesheta commented on #51
@goern: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/51#issuecomment-1254603683):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-09-22 06:51] goern commented on #54
/close
this to focus on the ODH/RHODS focused UX (via odh-dashboard)

[2022-09-22 06:51] #54 closed, assigned to nobody

[2022-09-22 06:51] sesheta commented on #54
@goern: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/54#issuecomment-1254603847):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-09-22 06:52] goern commented on #50
/close
this to focus on the ODH/RHODS focused UX (via odh-dashboard)

[2022-09-22 06:52] #50 closed, assigned to nobody

[2022-09-22 06:52] sesheta commented on #50
@goern: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/50#issuecomment-1254604225):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-09-22 06:54] goern commented on #14
let's revisit this and create a follow up issue on https://github.com/orgs/thoth-station/projects/51

[2022-09-28 13:27] Gkrumbach07 commented on #52
/close

[2022-09-28 13:27] #52 closed, assigned to nobody

[2022-09-28 13:27] sesheta commented on #52
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/52#issuecomment-1260915935):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/t

[2022-09-28 13:28] Gkrumbach07 commented on #53
/close

[2022-09-28 13:28] #53 closed, assigned to nobody

[2022-09-28 13:28] sesheta commented on #53
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/53#issuecomment-1260916696):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/t

[2022-09-28 13:45] Gkrumbach07 commented on #49
/close

[2022-09-28 13:45] sesheta commented on #49
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/49#issuecomment-1260940968):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/t

[2022-09-28 13:45] #49 closed, assigned to nobody

[2022-10-06 20:07] sesheta commented on #48
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-06 20:07] #48 closed, assigned to nobody

[2022-10-06 20:07] sesheta commented on #48
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/48#issuecomment-1270620922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-10-14 11:10] sesheta commented on #38
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-14 11:10] #38 closed

[2022-10-14 11:10] sesheta commented on #38
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/38#issuecomment-1278862315):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-10-19 10:00] schwesig commented on #14
mentioned to @codificat

[2022-10-19 10:01] schwesig commented on #17
mentioned to @codificat

[2022-11-18 11:21] sesheta commented on #14
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-18 11:21] sesheta commented on #14
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/byon/issues/14#issuecomment-1319871518):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-